@import url('https://fonts.cdnfonts.com/css/valorant');
::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #111823;
  box-sizing: border-box;
}  
/* Font Classes ------------------------------------*/
.font_secondary{
  font-family: "Space Grotesk", sans-serif !important;
  letter-spacing: 0.5px;
} 
.font_primary{
  font-family: 'VALORANT', sans-serif !important; 
}
.font_body_small{
  font-size: 14px;
}
.font_body{
  font-size: 16px;
}
.font_title{
  font-size: 24px;
}
/* COLOR CSS ------------------------------------*/
.bg_color_danger{
  background-color: #ff4655 !important;
}
.text_color_danger{
  color:#ff4655 !important;
}
.bg_dark{
  background-color: #161f2d !important;
}
.hover_black:hover{
  color: #111823 !important;
}
.hover_white:hover{
 color: white !important;
}
/* Border */
.border_light{
  border:0.5px solid rgba(125, 125, 125, 0.491);
}
/* Navbar CSS ------------------------------------*/
/* .navigation{
border-bottom:1px solid  #111823 ;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} */
.nav_effect:hover{
  color:black !important;
}
.nav_effect:active{
  color:black !important;
}

.titles{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
/* box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 46, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px; */
}

/* Card CSS ------------------------------------------- */
.card_text_wrap{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_text_wrap.expanded{
  white-space: normal;
  height: auto;
}
.abc:hover {
  transition: 0.5s;
  transform: scaleY(1.08);
  
  /* cursor: pointer; */
  /* transform: rotate(1deg); */ 
}

/* Button CSS ------------------------------------------------------ */
.button-49,.button-49:after {
width: 100px;
/* height: 50px; */
box-shadow: 3px 0 0px #ffffff;
background: linear-gradient(45deg, transparent 5%, #ff4655 5%);
border: 0;
position: relative;
/* user-select: none; */
/* -webkit-user-select: none; */
/* touch-action: manipulation; */
}

.button-49:after {
--slice-0: inset(50% 50% 50% 50%);
--slice-1: inset(80% -6px 0 0);
--slice-2: inset(50% -6px 30% 0);
--slice-3: inset(10% -6px 85% 0);
--slice-4: inset(40% -6px 43% 0);
--slice-5: inset(80% -6px 5% 0);
content: 'view';
display: inline;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(45deg, transparent 3%, #ffffff 3%, #ffffff 5%, #ff4655 5%);
text-shadow: -3px -3px 0px #ffffff, 3px 3px 0px #ffffff;
clip-path: var(--slice-0);  
}
.button-49:hover{
  color:black !important;
}
.button-49:hover:after {
animation: 1s glitch;
animation-timing-function: steps(2, end);
}
/* Button animation */
@keyframes glitch {
0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
}
10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
}
20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
}
30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
}
40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
}
50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
}
60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
}
70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
}
80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
}
90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
}
100% {
  clip-path: var(--slice-1);
  transform: translate(0);
}
}

/* @media (min-width: 768px) {
.button-49,
.button-49:after {
  width: 200px;
  height: 50px;
  line-height: 30px;
}
} */
#bgtext {
position: relative;
border-bottom: 5px solid #ff4655;
}

#bgtext:before {
position: absolute; 
top:15%; 
left:50%; 
transform:translate(-50%, -50%);

content: url(https://fontmeme.com/permalink/230424/c6a4dcd1b59df80923be2f3ec1f2adce.png);
/* background-repeat: no-repeat;
background-size: 300px 100px; */
text-align: center;
/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */

-webkit-text-stroke: #ff4655 2px;
-webkit-text-fill-color: transparent;
color: rgb(255, 255, 255);
/* font-size: 70px;    */
}
#bgtext1 {
position: relative;
border-bottom: 5px solid #ff4655;
}

#bgtext1:before {
position: absolute; 
top:15%; 
left:50%; 
transform:translate(-50%, -50%);

content: url(https://fontmeme.com/permalink/230424/4e742bed5daca9290df71d8ecf5c3260.png);
/* background-repeat: no-repeat;
background-size: 300px 100px; */
text-align: center;
-webkit-text-stroke: #ff4655 2px;
-webkit-text-fill-color: transparent;
color: rgb(255, 255, 255);
/* font-size: 70px;    */
}
#bgtext2 {
position: relative;
border-bottom: 5px solid #ff4655;
}

#bgtext2:before {
position: absolute; 
top:15%; 
left:50%; 
transform:translate(-50%, -50%);

content: url(https://fontmeme.com/permalink/230424/9c5e795a462f6f292cedc387f97ed950.png);
/* background-repeat: no-repeat;
background-size: 300px 100px; */
text-align: center;
/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */

-webkit-text-stroke: #ff4655 2px;
-webkit-text-fill-color: transparent;
color: rgb(255, 255, 255);
/* font-size: 70px;    */
}
#bgtext3 {
position: relative;
border-bottom: 5px solid #ff4655;
}

#bgtext3:before {
position: absolute; 
top:15%; 
left:50%; 
transform:translate(-50%, -50%);

content: url(https://fontmeme.com/permalink/230424/81e2fe9189b0ffb8d7187d139153a92f.png);
/* background-repeat: no-repeat;
background-size: 300px 100px; */
text-align: center;
/* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */

-webkit-text-stroke: #ff4655 2px;
-webkit-text-fill-color: transparent;
color: rgb(255, 255, 255);
/* font-size: 70px;    */
}
.map{
padding-top: 20vh;
padding-bottom: 8vh;
}

.btn-square-md {
width: 80px !important;
max-width: 100% !important;
max-height: 100% !important;
height: 80px !important;
text-align: center;
padding: 0px;
font-size:12px;
background-color: transparent;

}
#filler-btn{
transition: 01s;

}
#filler-btn:hover{
background-color: white;
border-radius: 10px;
/* border-top-right-radius:-30px ; */
color: #ff4655;

}
.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.agent-inner-card{
  position: relative;
}
.agent-inner-card:hover .cover-overlay{
  opacity: 1;
}
#a1,#a2,#a3,#a4{
  height: auto;
}
.weapon-inner-card {
  position: relative;
  height: 400px !important;
  border: 0.5px solid #ffffff54;
}
.weapon_name{
  z-index: 40;
  
}
.weapon-inner-card:hover .cover-overlay {
  opacity: 1;
  color: #111823;
}
.table{
  width: 100%;
}

/* Carousal CSS */
.carousel_container{
  position: relative;
}
.carousal_btn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
}
.carousel_container::before{
  content: '';
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.carousel-indicators,.carousel-control-next,.carousel-control-prev{
  z-index: 20;
}
/* weapon table */

@media screen and (max-width:991px) {
  .ajent_cover_overlay p{
    font-size: 14px !important;
  }
  .ajent_cover_overlay{
    height: 150px !important;
  }
  
}
@media screen and (max-width:768px) {
  .carousal_btn a{
    width:50px;
  }
  
}


.loader-body {
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}
.smiley {
	width: 8em;
	height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
	animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
	transform-origin: 64px 64px;
}
.smiley__eye2 {
	animation-name: eye2;
}
.smiley__mouth1 {
	animation-name: mouth1;
}
.smiley__mouth2 {
	animation-name: mouth2;
	visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes eye1 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50%,
	60% {
		animation-timing-function: cubic-bezier(0.17,0,0.58,1);
		transform: rotate(-40deg) translate(0,-56px) scale(1);
	}
	to {
		transform: rotate(225deg) translate(0,-56px) scale(0.35);
	}
}
@keyframes eye2 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	52.5% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1,0);
	}
	55%,
	70% {
		animation-timing-function: cubic-bezier(0,0,0.28,1);
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	to {
		transform: rotate(150deg) translate(0,-56px) scale(0.4);
	}
}
@keyframes eyeBlink {
	from,
	25%,
	75%,
	to {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0);
	}
}
@keyframes mouth1 {
	from {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 351.86;
		stroke-dashoffset: 0;
	}
	25% {
		animation-timing-function: ease-out;
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1,start);
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: -175.93;
		visibility: visible;
	}
	75%,
	to {
		visibility: hidden;
	}
}
@keyframes mouth2 {
	from {
		animation-timing-function: steps(1,end);
		visibility: hidden;
	}
	50% {
		animation-timing-function: ease-in-out;
		visibility: visible;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -351.86;
	}
}